main {
  width: 90%;
  margin: auto;
}
h5,h2{
  text-align: center;
}

ul {
  list-style-type: none;
}
.listStyle {
  list-style-position:inside;
}
li {
  display: inline-block;
  text-align: center;
  line-height: 23px;
  border: 1px solid black;
  padding-top: 4px;
  background-color: lightgray;
  height: 100px;
  width: 200px;
  margin: 0 12px 12px 12px;
}
input {
  margin-top: 10px;
}